Ata da reunião
Equipe: UFPel Firefox Club

MEMBROS DA EQUIPE
Jéssica Costa da Silva (capitã)
Rodrigo Raupp
Lucas Pereira
Anderson Menaré
Brendon Henrique

CONVIDADOSIsaac Angelo

                                                              Padrinho:
Professor Marilton

Conselheiro:
Nelson Dutra


Data de inicio do projeto:
02 de Março de 2018
Objetivo:
Disseminar o código web.
  A UFPel Firefox Club é nova e pioneira na universidade de Pelotas. Porém, não nos amedronta o fato de sermos os primeiros, em vez disso, nos sentimos incentivados à trabalhar em prol da mudança, levando o conhecimento web para jovens e crianças com pouco acesso a informação e em situação socioeconômica vulnerável. Além disso, queremos espalhar o conhecimento web para outros cursos da universidade, a fim de disseminar a missão Mozilla, pois nós acreditamos que as pessoas precisam ter uma melhor compreensão do que se trata a internet e de como podem utilizá-la de forma segura. Temos como objetivo o desenvolvimento de aplicações e a realização de eventos que contemplem tanto para o público universitário quanto para os demais cidadãos.


Missão:
   A equipe Ufpel Firefox Club  tem como missão ensinar o código aberto e disseminar ele através de aplicativos e eventos que vamos criar e aulas de alfabetização web que estamos nos organizando para dar aos calouros dos outros cursos da universidade e nas escolas públicas de alguns bairros.
Reunião Oficiais:
Dia: Todas as terças as 17:00,
 local: Anglo ,sala 413

Projeto anual(2018):

